extends ../node_modules/yi-frames-ui/m-widget/src/pug/layout.pug
block pugConfig
  -const pugConfig={titleText:`高仿知乎h5活动页面 - 平行世界的你`, cssName:`style`, confName:`index`, isNotSpa: false, column:'1', bodyClassName:[''], hrefUrl:'../'};
block mainLeft
  .main
    .loading
      .loading-box
        i.icon.icon-loading
        .loading-progress 
          .loading-progress-width
        span.loading-progress-number 0%
        div.loading-text 正在奋力加载中
        div.loading-end-btn 开始
    video.video.video1#myVideo(src='../images/assets/video.mp4' x5-video-player-type="h5" x-webkit-airplay="true" airplay="allow" playsinline="" webkit-playsinline="") 您的浏览器不支持video标签
    section.page1
      .bg
        canvas#canvas1() 您的浏览器不支持canvas
      .title
        .title-png.title-png01
        .title-png.title-png02
        .title-png.title-png03
        .title-png.title-png04
        .title-png.title-png05
        .title-png.title-png06
        .title-png.title-png07
      .txt
    section.page2
      .choose-sex
        p.h1 请选择你的性别
        //- .sex-box.male
        //- .sex-box.female
        ul.sex-box
          li.male
            .bg
            .icon
          li.female
            .bg
            .icon
      .choose-person
        .choose-scroll
          .bg
          ul.user-list.male
            - for (var x = 0; x < 10; x++)
              li(class='user-list'+x data-id!= x)
          .spotlight
        .choose-tip 上滑选择你的人物
        .choose-fill-form
          .choose-input
            input(type='text' placeholder='请填写你的名字' maxlength='10' value='观音法门2')
          .choose-btn
            .choose-btn1 重新选择
            .choose-btn2 确定
    section.page3
      .page3-ani
        //- 背景
        .bg
          .bg0
          .bg1
          .bg2
          .bg3
          .bg4
        //- 行走人物
        .you
        //- 第一页
        .telegraph
        .birds
        .busker
        .traffic-light
        //- 第二页
        .cat1
        .zoo
        //- 第三页
        .bus.ani
        .bus-house
        .pigeon1
        .bear
        .traffic-light1
        .pigeon1-2
        .traffic-light2
        //- 第四页
        .car1.ani
        .car2.ani
        .meijia
        .pigeon2
        .pig
        //- 4-5页
        .biycle.ani
        .biycle-house
        //- 第五页
        .cat2
          //- 欢呼人物
        .stage
        //- 第六页-结束页
        //- .huozhe
        .moon.ani
        .mountain
        .train.ani
        //- 问题
      .page3-question
        .question
          h3 问题标题
          ul.question-list
            li(data-id="A").cur A.
            li(data-id="A") B.
            li(data-id="A") C.
    secion.page4
      .page4-main
        .card
          canvas#canvas3.canvas3 您的浏览器不支持canvas
        .page4-btns
          .reload 重回平行世界
          .about  新知青年说
    .orientation
      .orient-txt
        i.icon.icon-orient-iphone
        span.orient-text 为了更好的体验，请使用竖屏锁屏浏览
    .music-btn.hide
