@charset "utf-8";
/*
 * @Author: @Guojufeng 
 * @Date: 2018-11-02 11:25:42 
 * @Last Modified by: @Guojufeng
 * @Last Modified time: 2018-11-06 15:22:04
 */

/* 公用css */

* {
  margin: 0;
  padding: 0;
}

html,body,.main,section{
  min-height: 100vh;
  height: 100%;
  font-size: .24rem;
  font-family: "Microsoft YaHei";
}
ul,li{
  list-style: none;
}
.clearfix {
  *zoom: 1;
}

.clearfix:before {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.hide{
  display: none;
}
.show{
  display: block;
}
.icon{
  display: inline-block;
  vertical-align: middle;
}
@mixin bgImg($w,$h,$img) {
  width: #{$w}rem;
	height: #{$h}rem;
	background: url(#{$img}) center no-repeat;
	background-size: 100% 100%;
}
@mixin userList(){
  @for $i from 0 to 10{
    .male{
      .user-list#{$i} {
        background: url(#{$choose}boy_#{$i}.png) no-repeat;
        background-size: 100% 100%;
      }
    }
    .female{
      .user-list#{$i} {
        background: url(#{$choose}girl_#{$i}.png) no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}