@charset "utf-8";
/*
 * @Author: @Guojufeng 
 * @Date: 2018-11-02 11:25:34 
 * @Last Modified by: @Guojufeng
 * @Last Modified time: 2018-11-09 20:36:50
 */
@import './common';
$assets: "../../images/assets/";
$begin: "../../images/begin/";
$bg: "../../images/begin/bg/";
$choose: "../../images/choose/";
$common: "../../images/common/";
$loading: "../../images/loading/";
$result: "../../images/result/";
$scene: "../../images/scene/";

.fillScreen {
	// 全屏覆盖
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}

.verticalCenter {
	// 垂直居中
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translate(0, -50%);
}

/* 横屏检测 */
.orientation {
	display: none;
	z-index: 3;
	@extend .fillScreen;
	color: #fff;
	font-size: .4rem;
	background: #000;
}

.orient-txt {
	@extend .verticalCenter;

	.icon-orient-iphone {
		width: 1rem;
		height: 1.63rem;
		margin-bottom: .2rem;
		background: url(#{$common}iphone.png) no-repeat;
		background-size: 100% 100%;
		transform-origin: 50% 50%;
		animation: orientIphone 1.5s linear infinite;
	}

	.orient-text {
		display: block;
	}
}

@keyframes orientIphone {

	0%,
	10%,
	100% {
		transform: rotate(0deg);
	}

	50%,
	75% {
		transform: rotate(90deg);
	}
}

@media (orientation: landscape) {
	.orientation {
		display: block;
	}
}

/* loading */
.loading {
	@extend .fillScreen;
	z-index: 2;
	color: #fff;
	font-size: .24rem;
	background: #232a32;

	.loading-box {
		@extend .verticalCenter;
		margin-top: -1rem;
	}

	.icon-loading {
		display: block;
		width: 2rem;
		height: 2rem;
		margin: 0 auto;
		background: url(#{$loading}loading.gif) no-repeat;
		background-size: 100% 100%;
	}

	.loading-progress {
		display: inline-block;
		vertical-align: middle;
		width: 2rem;
		height: 0.04rem;
		overflow: hidden;
		background: #3b424a;
		border-radius: .4rem;
	}

	.loading-progress-width {
		width: 0;
		height: 100%;
		background: #b5b4b5;
	}

	.loading-progress-number {
		margin-left: .1rem;
		vertical-align: middle;
		display: inline-block;
	}

	.loading-text {

		&:after {
			content: "";
			font-size: .34rem;
			letter-spacing: 0.04rem;
			padding-left: 0.06rem;
			// display: inline-block;
			// width: .5rem;
			animation: loadingDot 2.5s linear infinite;
		}
	}
	.loading-end-btn{
		display: none;
		text-indent: -9999px;
		width: 1.42rem;
		height: .56rem;
		margin: 0.1rem auto;
		background: url(#{$loading}btn.png) no-repeat;
		background-size: 100% 100%;
	}
}

@keyframes loadingDot {
	0%,
	100% {
			content: "";
	}

	30% {
			content: ".";
	}

	60% {
			content: "..";
	}

	90% {
			content: "...";
	}
}
/* 视频 */
.video{
	width: 100%;
	height: 100%;
	transition: all 1s ease-in-out;
	&.hide{
		visibility: hidden;
		opacity: 0;
	}
}
/* 音频 */
.music-btn{
	/* 背景设置突破常规写法:
	宽高不是定位图片的宽高，而是任性的整数，
	然后使用bg-size设置图片的宽高，
	使用bg-position定位图片的位置 */
	position: absolute;
	right: 0;
	z-index: 1;
	width: 1rem;
	height: 1rem;
	background: url(#{$common}music_on.png) center no-repeat;
	background-size: .4rem .4rem;
	animation: musicRotate 3s linear infinite;
	&.off{
		animation: none;
		background-image: url(#{$common}music_off.png);
	}
}
@keyframes musicRotate{
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(360deg);
	}
}
/* .page1 */
@mixin rank(){
  @for $title from 1 through 7 {
    .title-png0#{$title}{
			transition-delay: #{0.5 + 0.1 * $title}s;
      background: url(#{$begin}#{$title}.png) center no-repeat;
      background-size: 100% 100%;
		}
  }
}
.page1{
	display: none;
	overflow: hidden;
	position: relative;
	background: #080b12;
	.title{
		position: absolute;
		left: 50%;
		top: 10%;
		width: 4.35rem;
		height: 1.63rem;
		margin-left: -2.17rem;
		&.show{
			.title-png{
				opacity: 1;
				top: 0;
			}
		}
	}
	.title-png{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: all 1.25s ease-in-out;
		&:nth-child(odd){
			top: -10%;
		}
		&:nth-child(even){
			top: 10%;
		}
	}
	@include rank();
	.txt{
		@include bgImg(5.13,.8,'#{$begin}btn.png');
		position: absolute;
		left: 50%;
		bottom: 7%;
		margin-left: -2.56rem;
	}
}
/* page2 */
.page2{
	overflow: hidden;
	color: #8b8ea0;
	background: #141223;
	.choose-sex{
		height: 100%;
		position: relative;
	}
	.h1{
		padding: .45rem .2rem;
		text-align: center;
	}
	.sex-box{
		height: calc(100% - 0.26rem - 0.68rem);
		display: -webkit-box;
		-webkit-box-orient: vertical;
		li{
			// *注意这种弹性式布局的处理方法
			width: 100%;
			position: relative;
			-webkit-box-flex: 1;
			transition: all .5s;
			margin-bottom: .14rem;
		}
		.bg{
			@extend .fillScreen;
			background: url(#{$choose}sex_box.png) no-repeat;
			background-size: 100% 100%;
			transform: scale(0.92);
			opacity: 0.2;
			transition: all 1s;
		}
		.icon{
			@include bgImg(3.59,3.98,'#{$choose}boy.png');
			position: absolute;
			left: 50%;
			margin-left: -1.995rem;
			top: 50%;
			margin-top: -1.99rem;
			animation: filter 1s infinite alternate;
			filter: brightness(50%) grayscale(50%);
			&::before{
				content: "";
				opacity: 1;
				position: absolute;
				@include bgImg(3.59,3.98,'#{$choose}boy_shadow.png');
				animation: shadowTwinkle 1s linear infinite alternate;//使用alternate，很多时候大部分的动画都可以执行前半部分然后利用alternate执行后半部分。比如这个让灯光先暗下去再亮起来的动画，可以只写让灯光暗下去的动画，利用alternate执行亮起来。
			}
		}
		.female{
			margin-bottom: .4rem;
			.icon{
				@include bgImg(3.56,3.84,'#{$choose}girl.png');
				margin-left: -1.98rem;
				margin-top: -1.92rem;
				animation: filter 1s infinite alternate-reverse;
				&::before{
					@include bgImg(3.56,3.84,'#{$choose}girl_shadow.png');
					animation-direction: alternate-reverse;
				}
			}
		}
		.cur{
			.bg{
				opacity: 1;
				transform: scale(0.86);
			}
		}
	}
}
.choose-person{
	overflow: hidden;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
  left: 0;
  // display: none;
}

.choose-scroll{
  position: relative;
  &.no-move{
    overflow: hidden;
    height: 100%;
  }
	.bg{
		@include bgImg(1,32.09,'#{$choose}bg.jpg');
		// background-position: top left;
		width: 100%;
	}
	.user-list{
		position: absolute;
		top: 0;
		z-index: 1;
		li{
			position: absolute;
			width: 1.0348rem;
      height: 3.12rem;
      transition: all 1s;
      transform: scale(1);
      filter: grayscale(1);
    }
    .cur{
      filter: grayscale(0);
      transform: scale(1.1);
    }
	}
	// .male{
	// 	.user-list0{
	// 		background: url(#{choose}boy_0)
	// 	}
	// }
	.user-list0{
		left: 2.3rem;
		top: 6.63rem;
	}
	.user-list1{
		left: 4.6rem;
    top: 9.42rem;
	}
	.user-list2{
		left: 1.3rem;
    top: 10.83rem;
	}
	.user-list3{
		left: 5rem;
    top: 13.84rem;
	}
	.user-list4{
		left: 1.86rem;
    top: 15.5rem;
	}
	.user-list5{
		left: 3.85rem;
    top: 17.88rem;
	}
	.user-list6{
		left: .93rem;
    top: 19.65rem;
	}
	.user-list7{
		left: 5.56rem;
    top: 21.69rem;
	}
	.user-list8{
		left: 2.6rem;
    top: 23.5rem;
	}
	.user-list9{
		left: 4.65rem;
    top: 26.06rem
	}
	@include userList();
}
.spotlight{
	@extend .fillScreen;
	width: 15rem;
	height: 32.09rem;
	z-index: 1;
	transform: translate3d(0px, 0px, 0px);
	opacity: 0;
	visibility: hidden;
	transition: all 1s;
  background: radial-gradient(circle closest-side,rgba(0,0,0,0,), rgba(0,0,0,0.1),rgba(0,0,0,0.5),rgba(0,0,0,0.8));
  &.show{
    opacity: 1;
    visibility: visible;
  }
}
.choose-tip{
	position: fixed;
	z-index: 1;
	bottom: 10%;
	left: 0;
	right: 0;
	text-align: center;
	color: #95a5bd;
	filter: brightness(150%);
	&::after{
		content: "";
		display: block;
		position: absolute;
		left: 50%;
		top: .35rem;
		margin-left: -.2rem;
		filter: brightness(500%);
		@include bgImg(.41,.19,'#{$choose}arrow.png');
		animation: arrow .5s linear infinite alternate;
	}
}
.choose-fill-form{
  position: fixed;
  z-index: 2;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
  transition: all 1s;
  transform: scale(0);
  visibility: hidden;
  opacity: 0;
  &.show{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
	.choose-input{
    padding: 0 .8rem;
    height: .8rem;
    line-height: .8rem;
    margin: 0 auto;
    input{
      font-size: .26rem;
      height: 100%;
      width: 100%;
      border-radius: .08rem;
      padding: 0 .2rem;
      box-sizing: border-box;
      border: .02rem solid #b4b6b8;
      background: #424d6b;
      box-shadow: 0 .07rem .14rem 0 #23356A;
      color: #becfed;
      letter-spacing: .03rem;
      &::placeholder,::-webkit-input-placeholder{
        color: #becfed;
        letter-spacing: .03rem;
      }
    }
	}
	.choose-btn{
    padding: 0 .7rem;
    margin: .2rem auto 0;
    overflow: hidden;
    div{
      width: 2.62rem;
      height: .93rem;
      text-indent: -9999px;
    }
	}
	.choose-btn1 {
    float: left;
    margin-right: .2rem;
    background: url(#{$choose}btn_repeat.png) no-repeat;
    background-size: 100% 100%;
	}
	.choose-btn2{
    float: right;
    background: url(#{$choose}btn_success.png) no-repeat;
    background-size: 100% 100%;
	}
}
@keyframes filter {
	0% {
			-webkit-filter: brightness(50%) grayscale(50%)
	}

	100% {
			-webkit-filter: brightness(100%) grayscale(0)
	}
}
@keyframes shadowTwinkle{
	0% {
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes arrow{
	from{
		top: 0.35rem;
	}
	to{
		top: 0.45rem;
	}
}
@media only screen and (device-width:375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {
	
}